anytree==2.8.0
future==0.18.2
ifaddr==0.1.6
numpy==1.18.2
orbita==0.3.1
pyluos==1.1.1b1
pyquaternion==0.9.5
pyserial==3.4
scipy==1.4.1
SimpleWebSocketServer==0.1.1
six==1.14.0
websocket-client==0.57.0
zeroconf==0.24.5
opencv-python==4.1.0.25